@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@font-face {
  font-family: 'IntroRust';
  src: url('/fonts/IntroRust.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html {
  @apply min-h-screen bg-blue-600;
}

.linear-gradient {
  background: linear-gradient(to right, #fef08a, #84cc16, #16a34a);
}